#log-in-form {
    margin-top:100px;
    padding: 20px;
}
#error_message {
  margin-top:10px;
  visibility: hidden;
}
#sign-up-form {
    margin-top:100px;
    padding: 20px;
}
.session-button{
    margin-right:20px;
    width: 170px;
}
#session_row_1{
    margin-top:50px;
}
#sel1{
    width: 200px;
}

.command-button{
    margin-right:20px;
    width: 130px;
}
.command_div {
    background-color:white;
    border: 1px solid #ccc ;
    border-radius: 10px;
    margin-top: 10px;
}
@media only screen and (min-width: 991px) {
    .command_div_border {
        margin-left:50px;
    }
}
