@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Crete Round');
@import url('https://fonts.googleapis.com/css?family=Cookie');

#beginning {
    padding-top: 5px;
    overflow:auto;
    margin:0;
    padding-bottom:5px;
}
body {
    background-color: #F8F8F8;
}
.cs_image {
    height: 80px;
    width: 180px;
    float: left;
    margin-left:10px;
}

#title {
    text-align:center;
    font-family: 'Merriweather', serif;
    color: black;
    font-size:25px;
    padding:5px;
}

.menu {

    background: #668cff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#668cff, #000066); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#668cff, #000066); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#668cff, #000066); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#668cff, #000066); /* Standard syntax */
    width: 100%;
    z-index: 1;
}
.menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    min-width: 350px;
}

.menu > ul > li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
.menu > ul > li {
    display:inline-block;
    cursor: pointer;
}
#config {
    margin-left: 15%;
}
#login{
    float:right;
    margin-right:2%;
}
#signup {
    float: right;
}
#username{
    float:right;
}
#logout {
    float: right;
    margin-right:2%;
}
.menu > ul > li:hover {
    background-color: #0033cc;
    background: #0033cc; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0033cc, #000066); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0033cc, #000066); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0033cc, #000066); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0033cc, #000066); /* Standard syntax */
}
.login_form > table, .login_form  td >  input {
    text-align: center;
    margin: 0 auto;
    margin-top:7.5px;
    margin-bottom:7.5px;
    width:80%;
    min-width:200px;
    max-width:350px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 4px;
    font-size:15px;
    color:black;
}
#login_button {
     cursor: pointer;
     background: #668cff; /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(#668cff, #000066); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(#668cff, #000066); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(#668cff, #000066); /* For Firefox 3.6 to 15 */
     background: linear-gradient(#668cff, #000066); /* Standard syntax */
     color: white;
     border: none;

}
#login_button:hover {
    background-color: #0033cc;
    background: #0033cc; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0033cc, #000066); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0033cc, #000066); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0033cc, #000066); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0033cc, #000066); /* Standard syntax */
}
#login_txt  {
    font-family: 'Cookie', serif;
    font-size:30px;
    padding-bottom:20px;
}

.container {
    padding:0;
    margin:0 auto;
    margin-top:50px;
    width:80%;
    padding-top:30px;
    padding-bottom:20px;
    background-color:#fcfcfc;
    border: 1px solid #ccc ;
    border-radius: 10px;
    max-width:500px;
    min-width:300px;
}

.signup_form > table, .signup_form  td >  input {
    text-align: center;
    margin: 0 auto;
    margin-top:7.5px;
    margin-bottom:7.5px;
    width:80%;
    min-width:200px;
    max-width:350px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 4px;
    font-size:15px;
    color:black;
}
#signup_button {
     cursor: pointer;
     background: #668cff; /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(#668cff, #000066); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(#668cff, #000066); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(#668cff, #000066); /* For Firefox 3.6 to 15 */
     background: linear-gradient(#668cff, #000066); /* Standard syntax */
     color: white;
     border: none;

}
#signup_button:hover {
    background-color: #0033cc;
    background: #0033cc; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0033cc, #000066); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0033cc, #000066); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0033cc, #000066); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0033cc, #000066); /* Standard syntax */
}
#signup_txt  {
    font-family: 'Cookie', serif;
    font-size:30px;
    padding-bottom:20px;
}
#error_message {
  visibility: hidden;
}

.config {
    padding:0;
    margin:0 auto;
    margin-top:50px;
    width:70%;
    padding-top:20px;
    padding-bottom:20px;
    background-color:#fcfcfc;
    border: 1px solid #ccc ;
    border-radius: 10px;
    max-width:1500px;
    min-width:600px;
    overflow: auto;
}
.config_element {
    width: 90%;
    margin-left:5%;
    margin-right:5%
    font-size:12px;
    margin-top: 0.5px;
    margin-bottom:0.5px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 4px;
    text-align: center;
}
.special_element {
    width: 80%;
    margin-left:10%;
    margin-right:10%

}

#config_title {
    font-family: 'Crete Round', serif;
    font-size:25px;
    margin-bottom: 10px;
}

.config_sub_title {
    font-family: 'Crete Round', serif;
    font-size:20px;
}
.config_sub_sub_title {
    font-family: 'Crete Round', serif;
    font-size:17px;
}

.config_form {
    width:90%;
    margin:0 auto;
}
.config_form table {
     border: 1px solid #ccc ;
     border-radius: 10px;
     margin-top: 10px;

     margin-right:20px;
     margin-left:20px;
}
.config_component {
    display:inline-block;
}

.no_show {
   visibility: hidden;
}
.config_form td {
    min-width:200px;
    max-width: 300px;
}
#config_button {
     cursor: pointer;
    background: #0e7df4; /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(#0e7df4, #1c2a87); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(#0e7df4, #1c2a87); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(#0e7df4, #1c2a87); /* For Firefox 3.6 to 15 */
     background: linear-gradient(#0e7df4, #1c2a87); /* Standard syntax */
     color: white;
     border: none;
     width: 30%;
    font-size:12px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 4px;
    text-align: center;
    margin-left:35%;
    margin-right:35%;
    max-width:150px;
     margin-top: 30px;
    margin-bottom:0.5px;

}
#config_button:hover {
    background-color: #0033cc;
    background: #0033cc; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0033cc, #000066); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0033cc, #000066); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0033cc, #000066); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0033cc, #000066); /* Standard syntax */
}

#upload {
   opacity: 0;
   position: absolute;
   z-index: -1;
}
#upload_label {
    cursor: pointer;
}
.ui-slider-horizontal {
    height: 8px;
    width: 150px;
}
.ui-slider .ui-slider-handle {
    height: 15px;
    background: blue;
}
.command_panel {
    margin-top:50px;
}
.board {
    padding:0;
    margin:0 auto;
    margin-top:0px;
    width:90%;
    padding-top:30px;
    padding-bottom:20px;
    max-width:1500px;
    min-width:900px;
    overflow: auto;
}
.graphs {
    padding:0;
    margin-left:5%;
    margin-right:5%;
    width:90%;
    padding-top:10px;
    padding-bottom:20px;
    background-color:#fcfcfc;
    border: 1px solid #ccc ;
    border-radius: 10px;
    max-width:1000px;
    min-width:700px;
    height:600px;
    overflow:scroll;

}

.file-button {
    background: #0e7df4; /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(#0e7df4, #1c2a87); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(#0e7df4, #1c2a87); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(#0e7df4, #1c2a87); /* For Firefox 3.6 to 15 */
     background: linear-gradient(#0e7df4, #1c2a87); /* Standard syntax */
    color: white;
    border-radius: 4px;
    padding: 4px;
    margin: 5px;
    font-size:13px;
    width:100px;
    cursor:pointer;
    text-align: center;
}
.control_panel {
    margin-left:150px;
    margin-top:10px;
    padding-left:5px;
    margin-bottom:15px;


}
.control_panel td {
    width:50px;
}
.control_panel_element {
    width: 70%;
    margin-left:15%;
    margin-right:15%
    font-size:12px;
    margin-top: 2px;
    margin-bottom:2px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 4px;
    text-align: center;
}
.board_column {
    max-width:50px;
}
#load_tweets_icon {
    border: 2px solid white; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 0.5s linear infinite;
    visibility: hidden;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#create_topics_icon {
    border: 2px solid white; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 0.5s linear infinite;
    visibility: hidden;
}
#process_events_icon {
    border: 2px solid white; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 0.5s linear infinite;
    visibility: hidden;
}
#show_events_icon {
    border: 2px solid white; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 0.5s linear infinite;
    visibility: hidden;
}
.graph {
    border:1px solid black;
    margin: 30px auto;
    width: 700px;
    height: 450px;

}
.graph:hover {
    border:1px solid #0e7df4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}