
<html lang="en">
<head>
   <title>
        Licenta Iacob Cosmin-George
    </title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename = 'javascript.js') }}"></script>
</head>
<body>
    <div id="beginning">
        <img src="{{ url_for('static', filename = 'logo_cs_1.png') }}" class="cs_image">
        <p id="title"> Dectectia evenimentelor si anomaliilor</p>
    </div>

    <div class="menu">
        <ul>
            <li id="home"><i class="fa fa-home"></i></li>
            <li id="config">Config</li>
            <li id="board">Board</li>
            <li id="logout">Log Out</li>
            <li id="username">User: {{user}}</li>
        </ul>
    </div>
    <div class="board">
        <form id="board_form"  method="POST" action="/load_tweets">
            <table class="control_panel">
                <tr>
                    <td colspan="4">
                         <label for="upload" id="upload_label" class="control_panel_element">
                         <p class="file-button control_panel_element">Choose tweet file</p>
                         </label>

                         <input name="upload" type="file" id="upload" onchange='uploadFile(this)'>
                    </td>
                    <td colspan="4" >
                        <p  class="control_panel_element" id="file"> </p>
                    </td>
                     <td colspan="4">
                         <label for="tweet_submit">
                              <p class="file-button control_panel_element" id="load_tweets">Load Tweets</p>
                         </label>
                     </td>
                     <td> <p class="control_panel_element"></p></td>
                    <td colspan="4"> <p class="file-button control_panel_element" id="create_topics">Create Topics</p></td>
                    <td> <p class="control_panel_element"></p></td>
                    <td colspan="4"> <p class="file-button control_panel_element" id ="show_events">Show Events</p></td>
                    <td> <p class="control_panel_element"></p></td>
                </tr>
                <tr>
                    {% for i in range(0,23) %}
                    <td> <p class="control_panel_element"></p></td>
                    {% endfor %}
                </tr>
                 <input type="submit" style="display: none" id="tweet_submit">
            </table>
        </form>

        <div class="graphs">
             <p>ceva</p>
             <p>ceva</p>
             <p>ceva</p> <p>ceva</p>
             <p>ceva</p>
             <p>ceva</p>
            <p class="file-button">fhgdppom</p>

        </div>
    </div>

</body>
</html>